.app {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.text-from-screenshot {
  width: 1100px;
  text-align: center;
  margin-top: 50px;
  margin-bottom: 50px;
}

.image-container {
  margin-top: 30px;
}

.image-container canvas {
  display: none;
  width: 100%;
}

.image-container img {
  width: 100%;
}

.word-list {
  margin-top: 20px;
}

.word-list__description {
  margin-bottom: 15px;
}
